<aside class="w-64 bg-gray-800 p-6">
    <h2 class="text-2xl font-bold mb-6">Rediim</h2>
    <nav>
        <ul>
            <li class="mb-4"><a href="{{ url_for('home.promotion_ui') }}" class="text-gray-300 hover:text-white">Dashboard</a></li>
            <li class="mb-4"><a href="{{ url_for('home.rules_ui') }}" class="text-gray-300 hover:text-white">Reglas</a></li>
            <li class="mb-4"><a href="{{ url_for('home.customer_ui') }}" class="text-gray-300 hover:text-white">User Search</a></li>
            <li class="mb-4"><a href="/" class="text-gray-300 hover:text-white">Web</a></li>
            <li class="mb-4"><a href="/logout" class="text-gray-300 hover:text-white">Logout</a></li>
        </ul>
    </nav>
</aside>
